<div class="col-md-10 col-md-offset-1 comment" id="comment-<%= comment.id %>">
  <%= gravatar_for comment.user %>
  <%= link_to comment.user.name %><br>
  <%= comment.content %><br>
  <span class="timestamp">
    <%= t "comment.posted_ago", time: time_ago_in_words(comment.created_at) %>
  </span>
</div>
