<div class="col-md-12">
  <div class="col-md-8">
    <div class="col-md-9">
      <h3><%= @song.title %></h3>
    </div>
    <div class="col-md-3">
      <% if can? :update, @song %>
        <%= link_to t("edit"), edit_song_path(@song), class: "btn btn-success" %>
      <% end %>
      <% if can? :destroy, @song %>
        <%= link_to t("delete"), song_path(@song), method: :delete,
          data: {confirm: t("confirm")}, class: "btn btn-danger" %>
      <% end %>
      <% if !current_user.is_admin && !current_user.current_user?(@song.user) %>
        <%= link_to t("report"), "#", {remote: true, "data-toggle":  "modal",
          "data-target": "#modal-report", class: "btn btn-warning"} %>
        </i>
      <% end %>
    </div>

    <div class="modal fade" id="modal-report" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title"><%= t "report" %></h4>
          </div>
          <div class="modal-body">
            <%= form_for @report, html: {method: :post} do |f| %>
              <%= f.hidden_field :song_id, value: @song.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>

              <%= f.label :description %>
              <%= f.text_area :description, class: "form-control" %>
              <%= f.submit t("report_new.button"), class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <%= t "close" %>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h4><%= @song.artist %></h4><br>
      <%= t "song.show.uploader" %> <%= @song.user.name %><br>
      <%= t "song.show.genre" %> <%= @song.genre.name %><br>
      <br>

      <span class="like-book">
        <%= render "likes/like_form", song: @song %>
      </span>
      <h3><span class="label label-info label-lg">
        <i class="fa fa-headphones"> | <%= @song.views %></i>
      </span></h3>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="audio-player">
            <%= audio_tag @song.audio, type: "audio/mp3",
              controls: "controls", id: "audio-player" %>
          </div>
        </div>
      </div>
      <br>

      <% if @song.comments %>
        <h4><%= t "comment.name", count: @song.comments.count %></h4>
      <% end %>

      <div class="col-md-12 comment-form">
        <%= form_for @comment, url: comments_path, html: {method: :post},
          remote: true do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= f.hidden_field :song_id, value: @song.id %>
          <div class="col-md-10">
            <%= f.text_area :content, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.submit t("comment.button"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div id="comments">
        <%= render @song.comments %>
      </div>
    </div>
  </div>
</div>
