<div class="welcome">
  <form action="#" method="#">

    <h1><%= t "page.welcome.signup" %></h1>

    <fieldset>
      <legend><span class="number">1</span>
        <%= t "page.welcome.basic_info" %>
      </legend>
      <label for="name"><%= t "page.welcome.name" %></label>
      <input type="text" id="name" name="user_name">

      <label for="mail"><%= t "page.welcome.email" %></label>
      <input type="email" id="mail" name="user_email">

      <label for="password"><%= t "page.welcome.password" %></label>
      <input type="password" id="password" name="user_password">
    </fieldset>
    <button type="submit"><%= t "page.welcome.signup" %></button>
  </form>
</div>
