<div class="rhymine-bg">
  <div class="panel panel-default devise-bs col-sm-6 col-sm-offset-3 td-fix-devise">
    <div class="row">
      <div class="panel-heading">
        <h1><%= t "session.signin" %></h1>

        <%= form_for resource, as: resource_name,
          url: session_path(resource_name) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off",
              class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span><%= t "session.remember_me" %></span>
            <% end %>
          <% end -%>

          <div class="actions">
            <%= f.submit t("session.signin"), class: "btn btn-primary" %>
          </div>

          <p><%= t "session.new_user" %>
            <%= link_to t("session.sign_up_now"),
              new_user_registration_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
